.services{
    padding: 85px 0 38px 0;
    border: 1px solid #BDBDBD;
    border-right: 0;
    &-cards{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        row-gap: 100px;
        text-align: center;
        margin-top: 52px;
        padding: 0 10px;
        &__subtitle{
            margin-top: 69px;
            font-weight: 500;
            font-size: 48px;
            line-height: 56px;
            color: #0e0e0e;
        }
        &__descr{
            margin-top: 23px;
            font-weight: 400;
            line-height: 27px;
            color: #4f4f4f;
        }
    }
}